In [15]:
import pandas as pd
data = pd.read_csv("names.csv")
data.head()

,id,nome,data/hora,latitude,longitude
0,42138551,mlkmus,Wed May 09 14:56:49 +0000 2018,20.985902,-156.668731
1,362523555,QuakesToday,Wed May 09 14:45:10 +0000 2018,19.300000,-155.248000
2,362523555,QuakesToday,Wed May 09 14:20:04 +0000 2018,19.392000,-154.928000
3,79450692,LaSardineCan,Wed May 09 14:16:38 +0000 2018,19.429185,-155.257573
4,221399915,KelseyMarier,Wed May 09 14:11:12 +0000 2018,20.987778,-156.667778

In [14]:
print(data)

                      id             nome                       data/hora  \
0               42138551           mlkmus  Wed May 09 14:56:49 +0000 2018
1              362523555      QuakesToday  Wed May 09 14:45:10 +0000 2018
2              362523555      QuakesToday  Wed May 09 14:20:04 +0000 2018
3               79450692     LaSardineCan  Wed May 09 14:16:38 +0000 2018
4              221399915     KelseyMarier  Wed May 09 14:11:12 +0000 2018
5              362523555      QuakesToday  Wed May 09 14:05:05 +0000 2018
6               43163920         GevaNeva  Wed May 09 14:00:11 +0000 2018
7              362523555      QuakesToday  Wed May 09 13:55:06 +0000 2018
8               17199767        EdTecHakk  Wed May 09 13:15:54 +0000 2018
9              362523555      QuakesToday  Wed May 09 13:10:04 +0000 2018
10             362523555      QuakesToday  Wed May 09 13:00:05 +0000 2018
11             362523555      QuakesToday  Wed May 09 12:50:06 +0000 2018
12             362523555      QuakesToday  Wed May 09 12:50:05 +0000 2018
13             480668030         LUXEISLE  Wed May 09 12:44:35 +0000 2018
14             362523555      QuakesToday  Wed May 09 12:35:08 +0000 2018
15              22450662         fit4maui  Wed May 09 12:30:10 +0000 2018
16             362523555      QuakesToday  Wed May 09 12:20:04 +0000 2018
17             362523555      QuakesToday  Wed May 09 12:05:04 +0000 2018
18            2610966740  NJ_Surf_Fitness  Wed May 09 11:48:05 +0000 2018
19             313456056    angieinpixels  Wed May 09 11:34:06 +0000 2018
20             313456056    angieinpixels  Wed May 09 11:34:06 +0000 2018
21              47503821    jennybrucenyc  Wed May 09 11:30:57 +0000 2018
22             322982808    vlohvitstyler  Wed May 09 11:26:14 +0000 2018
23             322982808    vlohvitstyler  Wed May 09 11:24:23 +0000 2018
24             322982808    vlohvitstyler  Wed May 09 11:24:04 +0000 2018
25            2672002140  NERDWatchNation  Wed May 09 11:22:04 +0000 2018
26             362523555      QuakesToday  Wed May 09 11:05:05 +0000 2018
27             493321524  Electric_Surfer  Wed May 09 10:59:20 +0000 2018
28             340583912    PineappleClan  Wed May 09 10:42:58 +0000 2018
29             362523555      QuakesToday  Wed May 09 10:40:04 +0000 2018
...                  ...              ...                             ...
3710          3817467852    Positiveprod5  Sun Apr 29 23:33:46 +0000 2018
3711           362523555      QuakesToday  Sun Apr 29 23:25:05 +0000 2018
3712           405964667  AutismSocietyHI  Sun Apr 29 23:23:58 +0000 2018
3713            51568424  VictoriaTaimane  Sun Apr 29 23:23:57 +0000 2018
3714           493461606       ashleyyyz3  Sun Apr 29 23:23:18 +0000 2018
3715          3817467852    Positiveprod5  Sun Apr 29 23:20:06 +0000 2018
3716           405964667  AutismSocietyHI  Sun Apr 29 23:12:59 +0000 2018
3717            36176997  FourSeasonsJobs  Sun Apr 29 23:11:51 +0000 2018
3718           374953981       SKIMHAWAII  Sun Apr 29 23:07:15 +0000 2018
3719           205492157    chowbabylovin  Sun Apr 29 23:06:48 +0000 2018
3720           362523555      QuakesToday  Sun Apr 29 23:05:05 +0000 2018
3721            38063173     Detroitfan59  Sun Apr 29 23:02:50 +0000 2018
3722           116923047     YNVUCLOTHING  Sun Apr 29 22:52:50 +0000 2018
3723            44781746    zeketomaselli  Sun Apr 29 22:37:56 +0000 2018
3724            71968934    tmj_HI_cstsrv  Sun Apr 29 22:30:48 +0000 2018
3725            18168492         patogawa  Sun Apr 29 22:14:51 +0000 2018
3726            24921845     thealohalife  Sun Apr 29 22:13:26 +0000 2018
3727           340583912    PineappleClan  Sun Apr 29 22:12:29 +0000 2018
3728           880989678  Chris_Chapman10  Sun Apr 29 22:06:59 +0000 2018
3729           268406927     traceyvincel  Sun Apr 29 22:00:23 +0000 2018
3730  927731674921631744   katiesellsmaui  Sun Apr 29 21:52:29 +0000 2018
3731           606525786    namasteonmaui  Sun Apr 29 21:51:11 +0000 2018
3732  833179333053124608      resaflickan  Sun Apr 29 21:49:31 +0000 2018
3733            14466397     MauiBenjamin  Sun Apr 29 21:46:50 +0000 2018
3734            24921845     thealohalife  Sun Apr 29 21:46:07 +0000 2018
3735            14466397     MauiBenjamin  Sun Apr 29 21:43:25 +0000 2018
3736          3048544857     googuns_lulz  Sun Apr 29 21:31:00 +0000 2018
3737           292718029       barkingbbq  Sun Apr 29 21:27:53 +0000 2018
3738  874362871274024960     lifted_karma  Sun Apr 29 21:27:01 +0000 2018
3739          2337400094   KauCoffeeMill1  Sun Apr 29 21:25:12 +0000 2018

       latitude   longitude
0     20.985902 -156.668731
1     19.300000 -155.248000
2     19.392000 -154.928000
3     19.429185 -155.257573
4     20.987778 -156.667778
5     19.419000 -154.909000
6     19.493781 -155.009689
7     19.407000 -155.266000
8     20.886100 -156.675000
9     19.329000 -155.104000
10    19.171000 -155.134000
11    19.403000 -155.292000
12    19.362000 -155.005000
13    19.916385 -155.885795
14    19.422000 -154.858000
15    20.898611 -156.430556
16    19.349000 -155.083000
17    19.396000 -155.016000
18    20.683779 -156.441752
19    20.810158 -156.623721
20    20.810158 -156.623721
21    20.897239 -156.700930
22    19.371200 -155.205000
23    19.473500 -154.920000
24    19.473500 -154.920000
25    20.885640 -156.477660
26    19.357000 -155.030000
27    19.335867 -155.217075
28    19.590400 -154.976000
29    19.387000 -154.912000
...         ...         ...
3710  20.759100 -156.457000
3711  19.381000 -155.087000
3712  20.898611 -156.430556
3713  19.650000 -155.994000
3714  19.566667 -155.500000
3715  20.759100 -156.457000
3716  19.738889 -156.045556
3717  20.869339 -156.906103
3718  20.629822 -156.443823
3719  19.643730 -155.993520
3720  19.282000 -155.200000
3721  20.759100 -156.457000
3722  20.890711 -156.464416
3723  19.705500 -155.086000
3724  20.680279 -156.442027
3725  20.077600 -155.464000
3726  20.749380 -156.456619
3727  19.924033 -155.887499
3728  20.886882 -156.477408
3729  19.399230 -155.287000
3730  20.690000 -156.438890
3731  20.918451 -156.298857
3732  20.921411 -156.694474
3733  20.855600 -156.650000
3734  20.752451 -156.458893
3735  20.886100 -156.675000
3736  19.277470 -153.229383
3737  20.944502 -156.691695
3738  20.906560 -156.243140
3739  19.238094 -155.478760

[3740 rows x 5 columns]